seg2d/data/Fundus-AVSeg/images/*.png filter=lfs diff=lfs merge=lfs -text
seg2d/data/Fundus-AVSeg/annotation/*.png filter=lfs diff=lfs merge=lfs -text
seg2d/data/Fundus-AVSeg/*.xlsx filter=lfs diff=lfs merge=lfs -text
